.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: black;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.layer {
  background-color: rgba(0, 34, 76, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-form {
  position: relative;
  box-sizing: border-box;
  padding: 60px 30px;
  transition: 0.5s;
  background-color: grey;
}

.login-form:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
  margin: 0 0 20px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.login-form input {

  width: 80%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: 'Roboto Condensed', sans-serif;
}

.login-form input::placeholder {
  color: white;
}

.login-form input[type="submit"] {
  color: white;
  background-color: #f82249;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
}

.login-form input[type="submit"]:hover {
  background-color: transparent;
}

.login-form a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.disabled{
  color: white;
  background-color: grey;
  opacity: 0.3;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
}

.disabled:hover {
  background-color: black;
}

.sprite{

  background: url("../assets/app/icons.svg");
  display: inline-block;
}

#usuario{
  width: 40px;
  height: 39px;
  background-position: -320px 0px;
}

#contrasena{
  width: 40px;
  height: 39px;
  background-position: -610px -40px;
}
